<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TSV Assignment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <style>
        body {
            text-align: center;
        }
        form {
            display: inline-block;
            margin-left: 25%;
            margin-right:25%;
            width: 50%;
        }
        input.btn{
            flex: 0.8;
        }
        button.btn{
            flex: 0.15;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="files"
            class="btn btn-primary" id="file">
            <button class="btn btn-primary" type="submit" style="border-radius: 4px;">
                Upload
            </button>
        </form>
    </div>
    <script type="text/javascript">
        document.getElementById("file").value = "";
    </script>
</body>
</html>
